#loginWrapper { position:absolute; left:50%; top:50%; margin-left:-200px; margin-top:-45px; width:400px; height:50px; background-color:#d0d0d0; }
#loginWrapper #loginBoxInput { position:absolute; left:10px; top:10px; }
#loginWrapper #loginBoxInput input { width:300px; height:21px; padding:3px; font-size:10pt; background-color:#d0d0d0; border-top:0; border-left:0; border-right:0; border-bottom:1px solid #efefef; }
#loginWrapper #loginBoxButton { position:absolute; left:320px; top:10px; }
#loginWrapper #loginBoxButton button { width:70px; border:0; height:28px; padding:0; margin:0; font-size:8pt; font-family:verdana; font-weight:bold; background-color:#efefef; }

.adminList { width:100%; }
.adminList thead tr td { font-weight:bold; font-family:verdana; font-size:8pt; background-color:#efefef; padding:10px; border-bottom:1px solid #e0e0e0; }
.adminList tbody tr td { font-family:verdana; font-size:8pt; padding:10px; border-bottom:1px solid #efefef; }
.adminList tfoot tr td { padding:10px; text-align:right; }

.simpleInput { padding:5px; font-size:8pt; font-family:verdana; border:1px solid #e0e0e0; }

.simpleButton { padding:4px 8px 4px 8px; background-color:#efefef; border:1px solid #c0c0c0; font-size:8pt; font-family:verdana; color:#202020; }
.simpleButton:hover { border:1px solid #606060; color:#000000; }

.adminListVertical { width:100%; }
.adminListVertical tr .title { width:110px; font-family:verdana; font-size:8pt; background-color:#efefef; padding:10px; border-bottom:1px solid #e0e0e0; font-weight:bold; }
.adminListVertical tr .field { font-family:verdana; font-size:8pt; padding:10px; border-bottom:1px solid #e0e0e0; }

.pageTitle { width:100%; padding:10px 0 10px 0; margin-bottom:10px; text-align:center; background-color:#efefef; font-size:14pt; font-family:dotum; font-weight:bold; border:1px solid #e0e0e0; }