<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8"/> 
</head>
<body bgcolor="#efefef">
<table width="100%" height="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td height="80px" bgcolor="#232323">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/img_logo.gif"/></td>
            <td></td>
            <td width="117px"><img src="img/btn_menu01.gif"/></td>
            <td width="117px"><img src="img/btn_menu02.gif"/></td>
          </tr>
        </table></td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" height="35px"></td>
  </tr>
  <tr>
  	<td>
    	<div id="list" align="right">
        <div class="list_search">
        	<span><input type="text" name="search_txt" id="search_txt" /></span>
            <span><img src="img/btn_search.gif" align="absbottom"/></span>
        </div>
        <table id="table_list" border="0" class="list">
          <thead>
          <tr>
            <td>코드번호</td>
            <td>전화번호</td>
            <td>상품</td>
            <td>코드발행여부</td>
            <td>상품수령여부</td>
            <td>수령지점</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <div class="pagenation">&lt; 1 2 3 4 5 &gt;</div>
      </div>
     </td>
  </tr>
</table>
</body>
</html>
