@charset "utf-8";

/*  [Default]  */
body, ul, li, div, a, img { padding:0; margin:0; }
body { background:#fff; color:#636363; font:normal 12px µ¸¿ò,Dotum,Verdana,Arial,San-Serif; }

img { border:0; }
a { color:#636363; text-decoration:none; } a:visited, a:active { text-decoration:none; } a:hover { text-decoration:underline; }
input, select { font-size:100%; vertical-align:middle; }
ol,ul,li { list-style:none; } fieldset,blockquote,iframe { border:none; }
i,em,u,cite { font-style:normal; }
h1,h2,h3,h4,h5 { clear:both;font:bold 12px µ¸¿ò,Dotum,Verdana,Arial,San-Serif; }
legend,caption { display:none;clear:both;font:bold 12px µ¸¿ò,Dotum,Verdana,Arial,San-Serif; }
form { display:inline; }


#wrap {  }
#wrap .main_menu { list-style:none; padding:0; margin:0; white-space:nowrap; vertical-align:top; -webkit-transition: -webkit-transform 500ms; }
#wrap .main_menu .main_list { display:inline-block; width:533px; padding:0 10px 0 0; margin:0; vertical-align:top; }

/*.wrap_common { position:relative; width:320px; overflow:hidden; padding:0; margin:0; }*/
.wrap_common { position:relative; width:533px; padding:0; margin:0; }
.wrap_intro { height:600px; }
.wrap_style { height:693px; }
.wrap_project { height:518px; }

#menu { background:url('bg_main.png') no-repeat; height:600px; }
#menu ul { padding-top:300px; }
$menu ul li { padding-top:3px; }

#menu .menu_mov {  }
#menu .menu_ent {  }


#style { height:356px; }


#style { height:470px; -webkit-transition: -webkit-transform 500ms ease-in-out; }
#style ul { -webkit-transition: -webkit-transform 500ms; list-style:none; padding:0; margin:0; white-space:nowrap; }
#style ul li { width:533px; height:693px; text-align:center; display:inline-block; padding:0 10px 10px 0; margin:0; }

#style ul li .q { background:url('bg_game.png') no-repeat; height:693px; padding-top:0px; }
#style ul li .q .intro { padding-top:25px; height:160px; font-size:16pt; color:#572d73 }
#style ul li .q .question { padding-top:125px; height:110px}
#style ul li .q .answer { padding-top:50px; }
#style ul li .q .button_intro { padding-top:150px; }

#style ul li .qa { height:693px; }
#style ul li .qa .a { height:693px; }
#style ul li .qa .a .button { position:relative; padding-top:382px; }


#project { height:530px; }
#project ul { padding:0; margin:0; }
#project #navi { padding:0; text-align:center; }

#wrap ul li #project {  }
#wrap ul li #style {  }

.pos_intro { -webkit-transform: translateX(-334px); }
.pos_style { -webkit-transform: translateX(-668px); }
.pos_project { -webkit-transform: translateX(0px); }